@import url("root.css");
@import url("navbar.css");
@import url("footer.css");

.cart-section {
  background: url(../assets/shopping-bag.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  padding: 90px 0;
}

.shopping-cart-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cart-backToShopping a:hover {
  color: #4f95da !important;
  transition: 1s ease-in-out;
}

.shopping-summary {
  background-color: var(--primary-color);
}

.shopping-summary .form-outline {
  position: relative !important;
}

.shopping-summary .form-control {
  background-color: transparent !important;
}

.shopping-summary .form-label {
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  z-index: 2;
  background-color: var(--primary-color);
}

 .form3 input {
  border: 1px solid #ced4da !important;
} 

.shopping-summary .prompCodeBtn {
  cursor: pointer;
  background: transparent;
  color: black;
  border: 1px solid #ced4da;
}

.shopping-summary .prompCodeBtn:hover {
  transition: 1s ease-in-out;
  background: #ced4da;
}
