@import url("root.css");
@import url("navbar.css");
@import url("footer.css");
@import url("checkOut.css");


.cart-model-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.cartLargeScreen{
  overflow-y: inherit !important;
  height: 520px !important;
}


.cart-model-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.cartLargeScreen{
  overflow-y: inherit !important;
  height: 520px !important;
}

.cartLargeScreen .shopping-cart{
  overflow-y: inherit !important;
  height: 500px !important;
.cartLargeScreen .shopping-cart{
  overflow-y: inherit !important;
  height: 500px !important;
}

.cartLargeScreen .cart-items-checkout{
  overflow-y: scroll !important;
  height: 390px !important;
.cartLargeScreen .cart-items-checkout{
  overflow-y: scroll !important;
  height: 390px !important;
}

.cart-backToShopping a:hover {
  color: #4f95da !important;
  transition: 1s ease-in-out;
}

.shopping-summary {
  background-color: var(--primary-color);
}

.shopping-summary .form-outline {
  position: relative !important;
}

.shopping-summary .form-control {
  background-color: transparent !important;
}

.shopping-summary .form-label {
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  z-index: 2;
  background-color: var(--primary-color);
}

.shopping-summary .promoInput {
.shopping-summary .promoInput {
  border: 1px solid #ced4da !important;
} 
} 

.shopping-summary .prompCodeBtn {
  cursor: pointer;
  background: transparent;
  color: black;
  border: 1px solid #ced4da;
}

.shopping-summary .prompCodeBtn:hover {
  transition: 1s ease-in-out;
  background: #ced4da;
}
section#blurr .active{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
#conf-pop-up{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  padding: 50px;
  box-shadow: 0 5px 30px rg(0, 0, 0,0.30);
  background: white;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  color: var(--dark-color);
  position: absolute;
  box-shadow: 0 4px 8px 0 var(--dark-color), 0 6px 20px 0  var(--dark-color);
}

#conf-pop-up h2,
#conf-pop-up p{
  text-align: center;
}

#conf-pop-up.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 1s;
  /* this line  */
  z-index: 10000;
}

#conf-btn{
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid var(--medium-color);
  background-color: var(--dark-color);
  color: var(--primary-color);
  margin: 0;
  position: absolute;
  margin-left: 90px;
}

