@import url("root.css");
@import url("reset-min.css");

.btn1 button {
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
}
  
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
  
.iphone h2 {
  line-height: 1.2;
  color: var(--dark-color);
}

.form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e5ed;
  padding: .3rem;
  border-radius: .25rem;
}

.field__label {
  color:  #737888;
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: uppercase;
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #000;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}
  
.form__radios  input {
  border: 0;
  color: inherit;
  font: inherit;
}
  
.form__radios input[type="radio"] {
  accent-color: var(--medium-color);
}
  
  table {
    border-collapse: collapse;
    inline-size: 100%;
  }
 
  .align {
    display: grid;
    place-items: center;
  }
  
  .btn1 button {
    align-items: center;
    background-color: var(--dark-color);
    border-radius: 999em;
    color: white;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding-block: 0.75em;
    padding-inline: 1em;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .button:focus,
  .button:hover {
    background-color:var(--medium-color);
    color: var(--dark-color);
  }
  
  .button--full {
    inline-size: 100%;
  }
  
  .form__radio {
    align-items: center;
    /* background-color: var(--primary-color); */
    border-radius: 10px;
    display: flex;
    color: var(--dark-color);
  }
  
  .form__radio label {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 6px; 
    color: var(--paimary-color);
  }
  
  .iphone .header {
    display: flex;
    /* problem is here justify center */
    justify-content: left;
    margin-top: -10px;
    color: var(--dark-color);
  }

  .payment-method1{
    color: var(--dark-color);
  }

 @media (max-width:991px) {
 
  .form__radios{
    flex-direction: column;
  }
  .conf-pop-up{
    width: 100%;
    flex-direction: column;
  }
  
}

