@import url("reset-min.css"); 
@import url("root.css");
@import url("footer.css");
@import url("navbar.css");



  .contact{
    position: relative;
    padding: 80px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../assets/background.jpg");
    background-size: cover;
  }
.contact#blur.active{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
.contact .content-contact-form{
  margin-top: 30px;
  max-width: 800px;
  text-align: center;
}
.contact .content-contact-form h2{

  font-size: 36px;
  font-weight: 500;
  color: var(--primary-color);
}
.contact .content-contact-form p{
  font-weight: 300;
  color: var(--primary-color);
}
.container-contact-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container-contact-form .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container-contact-form .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;

}
.container-contact-form .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container-contact-form .contactInfo .box .text-contact-form
{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: var(--primary-color);
  flex-direction: column;
  font-weight: 300;
}
.container-contact-form .contactInfo .box .text-contact-form h3{
  font-weight: 500;
  color: var(--primary-color);
}
.contactForm{
  width: 40%;
  padding: 40px;
  background-color: white;
}
.contactForm h2{
  font-size: 30px;
  color: var(--dark-color);
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
  
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 17px 0 ;
  margin-left: -10px;
  /* border: 2px solid var(--primary-color);
  border-radius: 5px; */
  border: none;
  border-bottom: 2px solid var(--primary-color); 
  outline: none;
  resize: none;
  
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 1px 0;
  color: var(--dark-color);
  pointer-events: none;
  transition: 0.5s;
}
.contactForm .inputBox textarea span{
  padding: 10px 0;
  margin: 1px 0;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: rgb(156, 86, 86);
  font-size: 12px;
  transform: translate(-20px);
}
/* .error-msg{
  color: red;
  font-size: small;
  display: none;
  
} */

.contactForm .inputBox #popup-send{
  width: 100px; 
  background-color: var(--dark-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
#popup{
  /* position: fixed; */
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  width: 350px;
  padding: 50px;
  /* box-shadow: 0 5px 30px rgba(0, 0, 0,0.30); */
  background: white;
  border-radius: 6px;
  /* visibility: hidden; */
  opacity: 0;
  transition: transform 0.4s, top 0.4s;
  color: var(--dark-color);
  position: absolute;
  box-shadow: 0 4px 8px 0 var(--dark-color), 0 6px 20px 0  var(--dark-color);
  
}
.open-popup{
  /* visibility: visible; */
  top: 40% !important;
  transform: translate(-50%,-50%) scale(1) !important;
  opacity: 1 !important;
}
.activee{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
#popup h2,
#popup p{
  text-align: center;
}

/* #popup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
} */
#ok-btn{
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid var(--medium-color);
  background-color: var(--dark-color);
  color: var(--primary-color);
  margin: 0;
  position: absolute;
  margin-left: 90px;
  
}
#popup img{
  width: 100px;
  margin-top: -130px;
  margin-left: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgb(0, 0, 0,0.2);
}

@media(max-width:1000px)
{
  .contact .content-contact-form{
    margin-top: 70px;
  }
  .contact
  {
    padding: 50px;
  }
  .container-contact-form{
    flex-direction: column;
  }
  .container-contact-form .contactInfo
  {
    margin-bottom: 40px;
    flex-direction: column;
  }
  .container-contact-form .contactForm
  {
    width: 100%;
  }
  #popup{
    width: 50%;
  }
}
