@import url("reset-min.css"); 
@import url("root.css");
@import url("footer.css");


nav {
  background-color: transparent;
  }
  .nav-link {
    color: var(--primary-color);
  }
  
  .container-fluid a.active {
  
    border-bottom: 3px solid black;
    color: black !important;
  }
  .contact{
    position: relative;
    padding: 80px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../assets/background.jpg");
    background-size: cover;
  }
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{

  font-size: 36px;
  font-weight: 500;
  color: var(--primary-color);
}
.contact .content p{
  font-weight: 300;
  color: var(--primary-color);
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;

}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: var(--primary-color);
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: var(--primary-color);
}
.contactForm{
  width: 40%;
  padding: 40px;
  background-color: white;
}
.contactForm h2{
  font-size: 30px;
  color: var(--dark-color);
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
  
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 17px 0 ;
  margin-left: -10px;
  /* border: 2px solid var(--primary-color);
  border-radius: 5px; */
  border: none;
  border-bottom: 2px solid var(--primary-color); 
  outline: none;
  resize: none;
  
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 1px 0;
  color: var(--dark-color);
  pointer-events: none;
  transition: 0.5s;
}
.contactForm .inputBox textarea span{
  padding: 10px 0;
  margin: 1px 0;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: rgb(198, 63, 63);
  font-size: 12px;
  transform: translate(-20px);
}
.contactForm .inputBox input[type="submit"]{
  width: 100px; 
  background-color: var(--dark-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media(max-width:991px)
{
  .contact
  {
    padding: 50px;
  }
  .container{
    flex-direction: column;
  }
  .container .contactInfo
  {
    margin-bottom: 40px;
    
  }
  .container .contactForm
  {

    width: 100%;
  }
 
}
