@import url("root.css");
@import url("reset-min.css");
.gradient-custom {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;      
  }
.text-white{
    background-color:var(--primary-color)  !important; 
      backdrop-filter: saturate(200%) blur(25px);
      opacity:0.8;
}

.wrongEmail,
.wrongPassword {
   font-size: 15px;
   color: red;
   display: none;
}