@import url("root.css");

nav {
  background-color: transparent;
}

.nav-link, .navbar-brand {
  color: var(--primary-color);
}

.container-fluid a.active {

  border-bottom: 3px solid white;
  color: white !important;

}
.sticky{
  background-color: var(--dark-color);
  
}

