@import url("./root.css");

.Details-model-close{
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    z-index: 2;
}

.ActiveDetailsImage img {
	max-width: 100%;
}


@media (min-width: 501px) and (max-width: 700px){ 
    .ActiveDetailsImage{
        display: flex;
        justify-content: center;
    }
    .ActiveDetailsImage img {
        max-height: 300px !important;
        margin: 0 auto !important;
    }
}